.formButtonContainer{
    display: flex;
    align-content:space-between;
    margin: 10px;
    padding: 5px;
    width:auto; 
}
.formDiv{
    border: solid;
    align-content: space-between;
    display: flex;
    border-radius: 10px;
    background-color: #f85988;
    border: solid rgb(73,38,56);
    padding: 10px;
    margin: 10px;
    width: auto;
}

.buttonDiv{
    border: solid;
    align-content: space-between;
    display: flex;
    border-radius: 10px;
    border: solid rgb(73,38,56);
    background-color: #f85988;
    padding: 10px;
    margin: 10px;
}
